<ion-view view-title="Other Useful Links">
  <ion-content>
    <ul class="list">
      <li class="item" ng-click="openURL('http://p5cdn4static.sharpschool.com/UserFiles/Servers/Server_3097104/Image/Schedules/Daily.png')">
        <a class="link" href="http://p5cdn4static.sharpschool.com/UserFiles/Servers/Server_3097104/Image/Schedules/Daily.png">RHS Bell Schedule</a>
      </li>
      <li class="item" ng-click="openURL('http://ridgehigh.bernardsboe.com/UserFiles/Servers/Server_3097104/File/RHS%20School%20Items/RHS%20Marking%20Period%20Dates%202016-2017.pdf')">
        <a class="link" href="http://ridgehigh.bernardsboe.com/UserFiles/Servers/Server_3097104/File/RHS%20School%20Items/RHS%20Marking%20Period%20Dates%202016-2017.pdf">RHS Marking Period Dates</a>
      </li>
    <li class="item" ng-click="openURL('http://ridgehigh.bernardsboe.com/UserFiles/Servers/Server_3097104/File/RHS%20School%20Items/Tutorial%20Schedule%202016-17%20-%201st%20Semester.xlsx')">
    <a class="link" href="http://ridgehigh.bernardsboe.com/UserFiles/Servers/Server_3097104/File/RHS%20School%20Items/Tutorial%20Schedule%202016-17%20-%201st%20Semester.xlsx">RHS Tutorial Schedule</a>
      </li>
    </ul>
  </ion-content>
</ion-view>
