<ion-view view-title="Search Teachers">
  <!--ion-header-bar class="bar-positive">
    <h1 class="title">Search Teachers</h1>
    <div class="buttons">
      <button class="button button-icon ion-android-search"
              ng-click="showFilterBar()"></button>
    </div>
  </ion-header-bar-->
  <ion-content>
<div>
  <div ng-repeat = "item in data track by $index">
    <div class="card" ng-click="openURL(item.PersonalWebsite)">
      <div class="item item-text-wrap">
        <a class="name">{{item.FullName}}</a><br>
        <div class="emailTxt">
          Email:&nbsp;&nbsp;&nbsp;&nbsp;<a class="email" href="mailto:{{item.Email}}">{{item.Email}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
