<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Teacher ORD</ion-title>
  </ion-navbar>
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
</ion-header>

<ion-content>
  <ion-card  ion-item *ngFor="let item of items" (click)="itemTapped($event, item)"> 
      {{item.LastName+", " + item.FirstName}}
  </ion-card>
  <div  *ngIf="selectedItem" padding>
    
  </div>
</ion-content>
