page-home {
    h1{
        font-family: Verdana;
        font-style: bold;
    }
    h2{
        font-family: Courier;
        font-style: bold;
    }
    div.announcements{
        size: 40px
    }
}
