page-details {
    div#Name{
        margin-bottom: 20px;
        font-size: 40px;
        
    }
    div#Email{
        margin-bottom: 20px;
        font-size: 20px;
        span{
            color : rgb(85, 153, 241);
            text-decoration: underline;
            }
        
    }
    div#Website{
        margin-bottom: 20px;
        font-size: 20px;
            span{
            color : rgb(85, 153, 241);
            text-decoration: underline;
            }


    }
}
