ionic-nav-bar {
  height: 100px;
}

@media screen and (max-width: 720px) {
  #announcementImg img{
  width: 100%;
}
}

@media screen and (min-width: 721px) {
  #announcementImg, #announcementImg img{
  width: 80%;

}
}



