ionic-nav-bar {
  height: 100px;
}

@media screen and (max-width: 720px) {
  #announcementImg img{
  width: 100%;
}
}

@media screen and (min-width: 721px) {
  #announcementImg, #announcementImg img{
  width: 80%;

}
}

.name {
  color: #28a54c;
  text-decoration: none;
  font-size: 15pt;
  font-weight: bold;
}

.email {
  color: black;
}

.link{
  color: #28a54c;
  text-decoration: none;
  font-size: 15pt;
  font-weight: bold;
}

